# Exclude latex intermediate files
*.blg
*.bbl
*.aux
*.log
*.run.xml
*-blx.bib

# Exclude prediction results
*.csv

# Exclude training files
**/data/**

# Exclude python executives
*.pyc

# Exclude .ipynb backups
**/.ipynb_checkpoints/